/*--------------------共通設定*--------------------------*/
body {
	background-color: #dedede;
	background-image:
	 linear-gradient(#f1e8f2 50%, transparent 50%, transparent);
	background-size: 10px 10px;
	
}

/*---------------------header部分！！！！！！！！！！*------------------------*/
header{
	position: relative; 
}

/*左上のロゴ*/
.logo{
	width: 200px; 
	position: absolute;
	top:0%;
	left:0%;
	padding:0;
	margin:0;
}

/*画像の中央に表示される見出し*/
.minimidasi{
	font-size:30px;
	text-align:center;
	position: absolute;
	top:50%;
	left:30%;
	color: rgb(255, 255, 255);
	padding:0;
	margin:0;
}
.midasi{
	font-family: Darumadrop One;
	font-size:80px;
}

.pc-pic,.mobile-pic{
	width:100%;
}

/*PCの時はmobile-picを隠してpc-picを表示する*/
.mobile-pic{
	display:none;
}
.pc-pic{
	display:flex;
}




    

