@media screen and (max-width:900px) {
    .mobile-pic{
        display:flex;
    }
    .pc-pic{
        display:none;
    }

    
}
/*--------------------共通設定*--------------------------*/
body {
	background-color: #dedede;
	background-image:
	 linear-gradient(#f1e8f2 50%, transparent 50%, transparent);
	background-size: 10px 10px;
	
}

/*---------------------header部分！！！！！！！！！！*------------------------*/
header{
	position: relative; 
}

.pc-pic,.mobile-pic{
	width:100%;
}

/*PCの時はmobile-picを隠してpc-picを表示する*/
.mobile-pic{
	display:none;
}
.pc-pic{
	display:flex;
}

.blogmidasi{
	font-family: Darumadrop One;
	font-size:100px;
	text-align:center;
	color: white;
	padding:0;
	margin:0;
	background: linear-gradient(to right,#e60000,#f39800,#fff100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blogmidasi2{
	font-size:30px;
	text-align:center;
	color: black;
	padding:0;
	margin:0;
}

.normaltext{
	font-size:25px;
	text-align:center;
	color: black;
	padding:0;
	margin:0;
}


h1{
	text-align: center;
	font-family: Darumadrop One;
	font-size: 100px;
	color: yellowgreen;
}

.music{
	font-size:100px;
	text-align:center;
	color: black;
	padding:0;
	margin:0;
}


.main{
	text-align:center;
}

.bloglist{
	display:flex;
	align-items: center; /* 上揃えに変更 */
	justify-content: center; /* 左揃えに変更 */
	text-align:center;
	font-size: 40px;
	
}

.bloglist p {
	margin: 0; /* 段落の余白をリセット */
}

li a{
	color: blue;
	text-decoration:none;
	font-size: 40px;
	background: linear-gradient(transparent 80%, #ffcccc 0%);
}

.date{
	margin-right: 40px;
	font-size:32px;
}