@media screen and (max-width:900px) {
    .mobile-pic{
        display:flex;
    }
    .pc-pic{
        display:none;
    }

    
}
/*--------------------共通設定*--------------------------*/
body {
	background-color: #dedede;
	background-image:
	 linear-gradient(#f1e8f2 50%, transparent 50%, transparent);
	background-size: 10px 10px;
	
}

/*---------------------header部分！！！！！！！！！！*------------------------*/
header{
	position: relative; 
}

.pc-pic,.mobile-pic{
	width:100%;
}

/*PCの時はmobile-picを隠してpc-picを表示する*/
.mobile-pic{
	display:none;
}
.pc-pic{
	display:flex;
}